@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

body {
    margin: 0;
    background: #1f1f1f;
    color: white;
    font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
}
._content_article_ a {
    color: #85c2ff;
    text-decoration: none;
}
._content_article_ .token.function, ._content_article_ .token.number {
    color: #9ea3ff;
}
._content_article_ .token.string {
    color: #9fff6b;
}
._content_article_ pre {
    padding: 2em;
    background: #0a0a0a;
    border-radius: 5px;
}
._content_article_ .token.keyword {
    color: #b56bff;
}
._content_article_ .token.boolean {
    color: #faff6b;
}