@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Condensed&display=swap');

body {
    margin: 0;
    background: #1f1f1f;
    color: white;
    font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
}
._content_article_ a {
    color: #85c2ff;
    text-decoration: none;
}